<style type="text/css">
      body {
        background-color:#ffffff;
        color: #000000;
        font-family: 'times new roman ';
        font-size: 14px;
        line-height:2em;
      }
      h1, h2, h3, h4, h5 {
        font-family: 'times new roman ';
        font-weight: 400;
      }
      h1 {
        font-size: 36px;
        line-height: 38px;
      }
      h2 {
        font-size: 32px;
        line-height: 28px;
      }
      h3 {
        font-size: 24px;
        line-height: 28px;
      }
      hr {
        border:1px solid black;
        border-top-width:1px;
        clear:both;
        height:0;
      }
      ol {
        list-style:decimal;
      }
      ul {
        list-style:disc;
        margin-left:0px;
      }
      li {
        margin-left:0px;
      }
      p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
		  
        font-family: 'comic sans', cursive;
        margin: 0 0 14px 0;
      }
      .title {
        text-align: center;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 100;
        letter-spacing: 5px;
        font-family: 'comic sans', cursive;
      }
      .title a {
        color: #333333;
      }
      .nav {
        display:block;
        list-style: none;
        padding: 15px 0;
        margin: 0;
        text-align: center;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        font-family: 'comic sans', cursive;
      }
	  
      .nav li {
        margin: 10px;
        display: inline;
      }
	a:link {
	  color: #497DDD; 
	  border-bottom: 1px dashed; 
	}
	a:visited {
	  color: #EF7D55;
	}
	a:hover {
	  color: #154088; 
	  border-bottom: .07em solid;
	}
	a:active {
	  color: #497DDD; 
	  border-bottom: 1px dashed;
	}
    </style>
